{% extends 'admin/layout-admin.html.twig' %}

{% block titre %}
    {% include 'admin/titre-admin.html.twig' with {'titre': 'Utilisateurs'} %}
{% endblock %}

{% block content %}
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Identifiant</th>
      <th class="mdl-data-table__cell--non-numeric">Adresse email</th>
      <th class="mdl-data-table__cell--non-numeric">Prénom</th>
      <th class="mdl-data-table__cell--non-numeric">Nom</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
          <tr>
            <td>
              <a href="{{ path('admin-user-view', {id: user.id}) }}">{{ user.id }}</a>
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{ user.email }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ user.nom }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ user.prenom }}</td>
          </tr>
    {% endfor %}    
  </tbody>
</table>
{% endblock %}